@if (Model != null && Model.GetType() != typeof(Post))
{
<div class="sidebar-module sidebar-about">
    <div class="sidebar-body">
        <div class="face"><img src="@ViewBag.AvatarUrl"></div>
        <p style="text-align: center"><a href="@ViewBag.AboutUrl">@ViewBag.Site</a></p>
        <div style="text-align: center" >
            <a class="styleabout github" target="_blank" href="https://github.com/pomelobutter" title="github">github</a>
            <a class="styleabout sina" target="_blank" href="https://weibo.com/u/5663078856" title="微博">sina</a>
        
            <a class=" styleabout mail" target="_blank" href="mailto:17997384@qq.com" title="Email">Email</a>
        </div>
    </div>
</div>
}
